*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  lidt-style: nons;
}

header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
