*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 9%;
  background: #06c46f;
  
}

body{
  background: #57d8ff;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.logo{
font-size: 5px;
  font-weight: 700;
  color: #0328ff;
  display: flex;
  
}

.navlist{
  display: flex;
  background: #06c46f;
  width: 100%;
}

.navlist a{
  background: #0328ff;
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
  text-decoration: none;
  width: 100%;
  text-align: center; 
}

/*.navlist a.img{
  margin: 0 0 45px;
  width: 5px;
  height: 2px;
  max-width: 100%;
  display: block;
}*/

.navlist a:hover{
  border-bottom: 2px solid #0328ff;
  
}

#menu-icon{
color: #0328ff;
  font-size: 35px;
  z-index: 10001
  cursor: pointer;
  display: none;
}

.hero{
height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.95deg, #0328ff 0%, #06c46f 28.53%, #57d8ff 75.25%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap:2rem;
  
}

.hero-text h4{
  font-size: 70px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
  
}

.hero-text p{
  color: white;
  font-size: 15px
  line-height: 1.9;
  margin-bottom: 40px;
}

.hero-text h1{
  font-size: 70px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}


/*.front-img {
  width: 100%;
  text-align: center; 
}*/

hero-img img{
  margin: 0 0 10px;
  width: 5px;
  height: auto;
  max-width: 100%;
  display: block;
  
}

hero-text a{
  display: inline-block;
  color: white;
  background: #06c46f;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
   text-decoration: none;
  
  
  
}

hero-text a:hover{
  background: transparent;
  border: 1px solid #06c46f;
  transform: translateX(8px);
}

  hero-text a.ctaa{
    background: transparent;
    border: 1px solid #06c46f;
    margin-left:  20px;
  }

.section{
  padding: 0.19%;
  
}

