* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

#header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  overflow: hidden;
}


body {
 /* background: linear-gradient(245.95deg, #0328ff 0%, #06c46f 28.53%, #57d8ff 75.25%);*/
 background: whitesmoke;
 background-image: url(../Img/universe.png);
 background-size: cover;
  background-position: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form{
  display: flex;
  flex-direction: column;
  background: #06c46f;
  margin: 50px;
  width: 90%;
  height: auto;
  padding: 10px;
  margin-top: 200px;
  border-radius: 5px;
}

.success{
  display: flex;
  flex-direction: column;
  background: #06c46f;
  margin: 50px;
  width: 90%;
  height: auto;
  padding: 10px;
  margin-top: 200px;
  border-radius: 5px;
}

.title{
  width: 100%;
  color: black;
}

.content{
  width: 100%;
  height: auto;
  margin-right: 5px;
  padding: 5px;
  background: transparent;
  color: black;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

.button{
  width: 20%;
  height: auto;
  font-size: 40px;
  margin-left: 40%;
  background: #0328ff;
  color: white;
  border: none;
  border-radius: 50px;
  color: black;
  text-decoration: none;
}

.form-title{
  width: 100%;
  color: black;
}

.desc-input{
  width: 100%;
  height: auto;
  margin-right: 5px;
  padding: 5px;
  background: transparent;
  color: black;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.form-split{
  width: 100%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.split{
  width: 100%;
padding-right: 2px;
padding-left: 2px;
}

.form-input-title{
  width: 100%;
  font-size: 20px;
  margin-left: 5px;
  padding-top: 5px;
  color: black;
}

.recured{
  font-size: 20px;
  font-weight: 600;
  color: red;
}

label {
  color: black;
}
.form-input{
  width: 100%;
  height: 50px;
  margin-right: 5px;
  border-radius: 50px;
  padding: 5px;
  border-color: #0328ff;
  border-style: solid;
  background: white;
  color: black;
}


.long-input{
  width: 100%;
  height: 200px;
  margin-right: 15px;
  border-radius: 10px;
  padding: 5px;
    border-color: #0328ff;
  border-style: solid;
  background: white;
}

.form-input-drop{
  width: 100%;
  height: 50px;
  margin-right: 5px;
  border-radius: 50px;
  padding: 5px;
  border-color: #0328ff;
  border-style: solid;
  background: white;
  color: black;
}

.form-input-multiple{
  
  border-radius: 10px;
  border-color: #0328ff;
  border-style: solid;
  background: white;
  color: black;
}

/* Multiple selection checkboxes */
.hidden-checkbox-multiple {
    display: none;
}

.custom-checkbox-multiple {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox {
  display: grid;
  
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 5px;
  box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}
.custom-checkmark-multiple {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #0328ff;
    background-color: white;
    margin-right: 8px;
    position: relative;
}

.hidden-checkbox-multiple:checked + .custom-checkmark-multiple {
    background-color: #0328ff;
}

.hidden-checkbox-multiple:checked + .custom-checkmark-multiple::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    color: white;
}

.form-input-sincle{
  
  border-radius: 50px;
  border-color: #0328ff;
  border-style: solid;
  background: white;
  color: black;
}

.hidden-checkbox {
    display: none;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.custom-checkmark {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid #0328ff;
    background-color: white;
    margin-right: 8px;
    position: relative;
}

.hidden-checkbox:checked + .custom-checkmark {
    background-color: #0328ff;
}

.hidden-checkbox:checked + .custom-checkmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}

.form-submit{
  width: 20%;
  height: auto;
  font-size: 40px;
  margin-left: 40%;
  background: #0328ff;
  color: white;
  border: none;
  border-radius: 50px;
  color: black;
  text-decoration: none;
}

@media (max-width: 700px){  
  .form{
  margin: 20px;
  width: 90%;
  height: auto;
  padding: 10px;
  margin-top: 200px;
  border-radius: 5px;
}

.form-title{
  width: 100%;
}

.success{
  margin: 20px;
  width: 90%;
  height: auto;
  padding: 10px;
  margin-top: 200px;
  border-radius: 5px;
}

.title{
  width: 100%;
}

.content{
  width: 100%;
  height: auto;
  margin-right: 5px;
  padding: 5px;
  background: transparent;
  color: black;
  margin-bottom: 10px;
  padding-bottom: 30px;
  font-size: 20px;
}

.desc-input{
  width: 100%;
  height: auto;
  margin-right: 5px;
  padding: 5px;
  background: transparent;
  color: black;
  margin-bottom: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}

.button{
  width: 40%;
  height: auto;
  font-size: 25px;
  margin-left: 30%;
}

.form-split{
  width: 100%;
}

.split{
  width: 100%;
padding-right: 2px;
padding-left: 2px;
}

.form-input-title{
  width: 100%;
  font-size: 20px;
  margin-left: 5px;
  padding-top: 5px;
}

.recured{
  font-size: 20px;
  font-weight: 600;
}



.form-input{
  width: 100%;
  height: 50px;
  margin-right: 5px;
  padding: 5px;
}


.long-input{
  width: 100%;
  height: 200px;
  margin-right: 15px;
  padding: 5px;
}

.form-input-drop{
  width: 100%;
  height: 50px;
  margin-right: 15px;
  padding: 5px;
}



.form-submit{
  width: 40%;
  height: auto;
  font-size: 25px;
  margin-left: 30%;
}

}

/*un dark*/

body.dark-mode {
 background: #1a1a1a;
 background-image: url(../Img/universe.png);
 background-size: cover;
  background-position: center;
}



body.dark-mode .form{
  background: #024a2a;
  border-radius: 5px;
}

body.dark-mode .success{
  background: #024a2a;
  border-radius: 5px;
}

body.dark-mode .title{
  color: white;
}

body.dark-mode .content{
  background: transparent;
  color: white;
}

body.dark-mode .desc-input{
  background: transparent;
  color: white;
}
body.dark-mode .button{
  background: #03c8ff;
  color: black;
  border-radius: 50px;
}

body.dark-mode .form-title{
  color: white;
}




body.dark-mode .form-input-title{
  color: white;
}

body.dark-mode .recured{
  color: orangered;
}

body.dark-mode label{
  color: white;
}
body.dark-mode .form-input{
  border-radius: 50px;
  border-color: #03c8ff;
  background: #0d0d0d;
  color: white;
}

body.dark-mode .form-input-drop{
  border-radius: 50px;
  border-color: #03c8ff;
  background: #0d0d0d;
  color: white;
}

body.dark-mode .form-input-multiple{
  border-color: #03c8ff;
  background: #0d0d0d;
  color: white;
}

body.dark-mode .form-input-sincle{
  border-color: #03c8ff;
  background: #0d0d0d;
  color: white;
}



body.dark-mode .custom-checkmark {
    border: 2px solid #03c8ff;
    background-color: #0d0d0d;
}

body.dark-mode .hidden-checkbox:checked + .custom-checkmark {
    background-color: #03c8ff;
}

body.dark-mode .hidden-checkbox:checked + .custom-checkmark::after {
    
    background-color: #0d0d0d;
 
}

body.dark-mode .custom-checkmark-multiple {
    border: 1px solid #03c8ff;
    background-color: #0d0d0d;
    color: #0d0d0d;
}

body.dark-mode .hidden-checkbox-multiple:checked + .custom-checkmark-multiple {
    background-color: #03c8ff;
}

body.dark-mode .hidden-checkbox-multiple:checked + .custom-checkmark-multiple::after {
    background-color: transparent;
    color: white;
}

body.dark-mode .long-input{
  border-radius: 10px;
    border-color: #03c8ff;
  background: #0d0d0d;
  color: white;
}

body.dark-mode .form-submit{
  background: #03c8ff;
  color: black;
  border-radius: 50px;
}

/*un light*/

body.light-mode {
 background: whitesmoke;
 background-image: url(../Img/universe.png);
 background-size: cover;
  background-position: center;
}



body.light-mode .form{
  background: #06c46f;
  border-radius: 5px;
}

body.light-mode .success{
  background: #06c46f;
  border-radius: 5px;
}

body.light-mode .title{
  color: black;
}

body.light-mode .content{
  background: transparent;
  color: black;
}

body.light-mode .desc-input{
  background: transparent;
  color: black;
}

body.light-mode .button{
  background: #0328ff;
  color: white;
  border-radius: 50px;
}

body.light-mode .form-title{
  color: black;
}




body.light-mode .form-input-title{
  color: black;
}

body.light-mode .recured{
  color: red;
}

body.light-mode label{
  color: black;
}

body.light-mode .form-input{
  border-radius: 50px;
  border-color: #0328ff;
  background: white;
  color: black;
}

body.light-mode .form-input-drop{
  border-radius: 50px;
  border-color: #0328ff;
  background: white;
  color: black;
}

body.light-mode .form-input-multiple{
  border-color: #0328ff;
  background: white;
  color: black;
}

body.light-mode .form-input-sincle{


  border-color: #0328ff;
  background: white;
  color: black;
}

body.light-mode .custom-checkmark {
    border: 2px solid #0328ff;
    background-color: white;
}

body.light-mode .hidden-checkbox:checked + .custom-checkmark {
    background-color: #0328ff;
}

body.light-mode .hidden-checkbox:checked + .custom-checkmark::after {
    
    background-color: white;
 
}

body.light-mode .custom-checkmark-multiple {
    border: 1px solid #0328ff;
    background-color: whitesmoke;
    
}

body.light-mode .hidden-checkbox-multiple:checked + .custom-checkmark-multiple {
    background-color: #0328ff;
}

body.light-mode .hidden-checkbox-multiple:checked + .custom-checkmark-multiple::after {
    background-color: transparent;
    color: white;
}
body.light-mode .long-input{
  border-radius: 10px;
    border-color: #0328ff;
  background: white;
  color: black;
}

body.light-mode .form-submit{
  background: #0328ff;
  color: black;
  border-radius: 50px;
}

/*modern light*/

body.modern-light {
 background: whitesmoke;
 background-image: url(../Img/universe.png);
 background-size: cover;
  background-position: center;
}



body.modern-light .form{
  background: lightgray;
  border-radius: 5px;
}

body.modern-light .success{
  background: lightgray;
  border-radius: 5px;
}

body.modern-light .title{
  color: black;
}

body.modern-light .content{
  background: transparent;
  color: black;
}

body.modern-light .desc-input{
  background: transparent;
  color: black;
}

body.modern-light .button{
  background: #0328ff;
  color: white;
  border-radius: 10px;
}

body.modern-light .form-title{
  color: black;
}




body.modern-light .form-input-title{
  color: black;
}

body.modern-light .form-input{
  border-radius: 10px;
  border-color: #0328ff;
  background: white;
  color: black;
}

body.modern-light label{
  color: black;
}

body.modern-light .form-input-drop{
  border-radius: 10px;
  border-color: #0328ff;
  background: white;
  color: black;
}

body.modern-light .form-input-multiple{
  border-color: #0328ff;
  background: white;
  color: black;
}

body.modern-light .form-input-sincle{
  border-color: #0328ff;
  background: white;
  color: black;
}

body.modern-light .custom-checkmark {
    border: 2px solid #0328ff;
    background-color: white;
}

body.modern-light .hidden-checkbox:checked + .custom-checkmark {
    background-color: #0328ff;
}

body.modern-light .hidden-checkbox:checked + .custom-checkmark::after {
    
    background-color: white;
 
}

body.modern-light .custom-checkmark-multiple {
    border: 1px solid #0328ff;
    background-color: whitesmoke;
    
}

body.modern-light .hidden-checkbox-multiple:checked + .custom-checkmark-multiple {
    background-color: #0328ff;
}

body.modern-light .hidden-checkbox-multiple:checked + .custom-checkmark-multiple::after {
    background-color: transparent;
    color: white;
}
body.modern-light .long-input{
  border-radius: 5px;
    border-color: #0328ff;
  background: white;
  color: black;
}

body.modern-light .form-submit{
  background: black;
  color: white;
  border-radius: 10px;
}