* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

#header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  overflow: hidden;
}



body {
 /* background: linear-gradient(245.95deg, #0328ff 0%, #06c46f 28.53%, #57d8ff 75.25%);*/
 background: white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.head{
  height: 160px;
}

/* games*/

.game-jams{
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  background: whitesmoke;
}

.games h1{
  color: black;
  font-size: 50px;
  
}
.games p{
  color: black;
  font-size: 30px;
}

.game-list{
  display:flex;
  flex-direction: row;
  white-space: nowrap;
  padding: 10px;
}
.all-games{
  display: flex;
  flex-direction: column;
  background-color: #06c46f;
  height: 500px;
  width: 300px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 10px;
  padding: 5px;
}

.all-games:hover{
  background-color: #08f78b;
  text-decoration: none;
  border-radius: 5px;
}

.all-games h1{
  font-size: 25;
  height: 25px;
  width: 300px;
}

.all-games p{
  white-space: normal;
  font-size: 22px;
  height: 500px;
  width: 210px;
}
.all-games i{
  font-size: 80px;
  margin-left: 60px;
  margin-bottom: 20px;
  color: #0328ff;
}

/*@keyframes slide{
  from{
    transform: translateX(0);
  }
  
  to{
    transform: translateX(-100%);
  }
}*/

.games-container{
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  width: 100%;
  position: relative;
  display: inline-block;
}
.games-container:before,
.games-container:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.games-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), whitesmoke);
}

.games-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), whitesmoke);
}

.game-holder{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.game-inf-scrolling{
  display: flex;
/*  animation: 35s slide infinite linear;*/
  width: 100%;
  overflow-x: auto;
  
}

.game-inf-scrolling:hover{
  animation-play-state: paused;
  
}

.game-inf-scrolling a{
  background-color: transparent;
  height: 500px;
  width: 250px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
  border-color: #06c46f;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  margin: 5px 5px 5px;
  align-items: center;
  align-content: center;
  align-self: center;
}

.game-inf-scrolling a:hover{
  color: black;
  text-decoration: none;
  border-radius: 5px;
border-color: #08f78b;
  
}

.game-inf-scrolling img{
  height:auto;
  width:200px;
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
  margin-left: 20px;
}

.game-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  padding: 10px;
}

.game-info {
  height: auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.game-info .game-title {
  font-size: 25px;
  font-weight: 600;
  color: black;
  height: 100%;
  max-height:150px;
  width: 250px;
  white-space: normal;
  
  
}

.game-info .game-desc {
  font-size: 20px;
  color: black;
  white-space: normal;
  width: 250px;
  overflow: hidden;
  max-height: 140px;
text-overflow: ellipsis;
}

.stats-game {
  display: flex;
  flex-direction: row;
}

.stats-game h1{
  font-size:20px;
  max-height: 10px;
  width: 250px;
  white-space: normal;
  margin: 0 2 2px;
  color: #0328ff;
}
.section {
  padding: 0.19%;
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(-10%);
  text-align: center;
  transition: all .5s;
}

hr{
  width: 100%;
  margin-bottom: 10px;
}



	@media (max-width: 1535px){

	}

@media (max-width: 1460px){
	section{
		padding: 0 12%;
		transition: all .5s;
		
	}

}

@media (max-width: 1340px){


}
@media (max-width: 1195px){
	section{
		padding: 0 3%;
		transition: all .5s;
	}


	
}

@media (max-width: 700px){



.game-jams {
  padding: 10px 0;
  width: 100%;
}

.games h1 {
  font-size: 25px;
}

.games p {
  font-size: 15px;
}

.game-list {
  padding: 5px;
}

.all-games {
  height: 250px;
  width: 100%;
  max-width: 150px;
  border-radius: 10px;
  margin: 5px;
  padding: 2px;
  margin-top:9px;
}

.all-games i{
  font-size: 40px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.all-games:hover {
  border-radius: 5px;
}

.all-games h1 {
  font-size: 15px;
  height: 15px;
  width: 100%;
  max-width: 350px;
}

.all-games p {
  font-size: 12px;
  height: 90px;
  width: 100%;
  max-width: 300px;
}

.games-container {
  padding: 10px 0;
  width: 100%;
}

.games-container:before,
.games-container:after {
  top: 0;
  width: 15px;
  height: 100%;
}

.games-container:before {
  left: 0;
}

.games-container:after {
  right: 0;
}

.game-inf-scrolling a {
  height: 250px;
  width: 100%;
  max-width: 150px;
  border-radius: 10px;
  border-width: 1px;
  margin: 0;
  
}

.game-inf-scrolling a:hover {
  border-radius: 5px;
}

.game-inf-scrolling img {
  height: auto;
  width: 100%;
  max-width: 80px;
  border-radius: 10px;
 margin-left: 27px;
}

.game-holder {
  margin-top: 10px;
  padding: 10px;
  height: 250;
  width: 150;
}

.game-info {
  height: auto;
  width: 150px;
  
  padding: 0 5px 5px;
}

.game-info .game-title {
  font-size: 10px; /* Corrected font size for visibility */
  font-weight: 600;
  height: 50px;
  width: 140px;
}

.game-info .game-desc {
  font-size: 10px; /* Corrected font size for visibility */
  width: 100%; /* Set width to 100% for responsiveness */
  max-width: 150px;
  height: 100%;
  max-height: 70px;
}
.stats-game h1 {
  font-size: 10px; /* Corrected font size for consistency */
  max-height: 10px;
  width: 100%; /* Set width to 100% for responsiveness */
  max-width: 150px;
  margin: 0 2px 2px;
}
  
}

@media (max-width: 680px){

}
		
		/* dark mode unviere*/
		body.dark-mode {
		  background: #1a1a1a;
		}
		body.dark-mode .game-jams{
  background: #1a1a1a;
}

body.dark-mode .games h1{
  color: white;
}
body.dark-mode .games p{
  color: white;
}


body.dark-mode .all-games{
  background-color: #024a2a;
  color: white;
}

body.dark-mode .all-games:hover{
  background-color: #02311c;
}


body.dark-mode .all-games i{
  color: #03c8ff;
}



body.dark-mode .games-container:before {
  background: linear-gradient(to left, rgba(255,255,255,0), #1a1a1a);
}

body.dark-mode .games-container:after {
  background: linear-gradient(to right, rgba(255,255,255,0), #1a1a1a);
}


body.dark-mode .game-inf-scrolling a{
  background-color: transparent;
  
  color: white;
  border-color: #024a2a;
}

body.dark-mode .game-inf-scrolling a:hover{
  color: white;
border-color: #02311c;
  
}




body.dark-mode .game-info .game-title {
  color: white;
  
  
}

body.dark-mode .game-info .game-desc {
  color: white;
}



body.dark-mode .stats-game h1{
  color: #03c8ff;
}

		/* light mode unviere*/
		body.light-mode {
		  background: whitesmoke;
		}
		body.light-mode .game-jams{
  background: whitesmoke;
}

body.light-mode .games h1{
  color: black;
}
body.light-mode .games p{
  color: black;
}


body.light-mode .all-games{
  background-color: #06c46f;
  color: black;
}

body.light-mode .all-games:hover{
  background-color: #08f78b;
}


body.light-mode .all-games i{
  color: #0328ff;
}



body.light-mode .games-container:before {
  background: linear-gradient(to left, rgba(255,255,255,0), whitesmoke);
}

body.light-mode .games-container:after {
  background: linear-gradient(to right, rgba(255,255,255,0), whitesmoke);
}


body.light-mode .game-inf-scrolling a{
  background-color: transparent;
  
  color: black;
  border-color: #06c46f;
}

body.light-mode .game-inf-scrolling a:hover{
  color: black;
border-color: #08f78b;
  
}




body.light-mode .game-info .game-title {
  color: black;
  
  
}

body.light-mode .game-info .game-desc {
  color: black;
}



body.light-mode .stats-game h1{
  color: #0328ff;
}

		/* light modern y*/
		body.modern-light {
		  background: whitesmoke;
		}
		body.modern-light .game-jams{
  background: whitesmoke;
}

body.modern-light .games h1{
  color: black;
}
body.modern-light .games p{
  color: black;
}


body.modern-light .all-games{
  background-color: lightgray;
  color: black;
}

body.modern-light .all-games:hover{
  background-color: gray;
}


body.modern-light .all-games i{
  color: #0328ff;
}



body.modern-light .games-container:before {
  background: linear-gradient(to left, rgba(255,255,255,0), whitesmoke);
}

body.modern-light .games-container:after {
  background: linear-gradient(to right, rgba(255,255,255,0), whitesmoke);
}


body.modern-light .game-inf-scrolling a{
  background-color: transparent;
  
  color: black;
  border-color: #06c46f;
}

body.modern-light .game-inf-scrolling a:hover{
  color: black;
border-color: #08f78b;
  
}




body.modern-light .game-info .game-title {
  color: black;
  
  
}

body.modern-light .game-info .game-desc {
  color: black;
}



body.modern-light .stats-game h1{
  color: #0328ff;
}