* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

#header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  overflow: hidden;
}

/*.sidebar{
  position: fixed;
  left: -700;
  width:250px;
  height: 100%;
  background: #06c46f;
  margin-top: 100px;
  z-index: 900;
  display: flex;
  flex-direction: column;
  transition: all .5s ease;
}

.sidebar-scroll{
  width:250px;
  height: 100%;
  max-height: 100%;
  background: #06c46f;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all .5s ease;
  overflow-y: auto;
}

.sidebar .sidebar-header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #0328ff;
  user-select: none;
  border-bottom: 1px solid rgba(255,255,255,1);
}
.sidebar .navigate {
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  background: transparent;
  font-weight: 600;
  padding: 5px 5px;
  
  
}

.sidebar .navigate:hover {
  
  border-bottom: 5px solid #0328ff;
  
  
}

.sidebar h1{
  font-size: 22px;
  background: #0328ff;
  color: white;
  border-top: 1px solid rgba(255,255,255,1);
  border-bottom: 1px solid rgba(255,255,255,1);
}

#check {
  display: none;
}

.sidebar-toggle #btn,sidebar-toggle #cancel{
  position: fixed;
  cursor: pointer;
  margin-top: 100px;
}

.sidebar-toggle #btn{
  left: 40px;
  top:25px;
  font-size: 30px;
  background: #06c46f;
  color: black;
  padding: 6px 6px;
  border-radius: 50px;
  z-index: 800;
  transition: all .5s;
  opacity: 100;
  
}

.sidebar-toggle #cancel{
  left: -395px;
  top: 17px;
  font-size: 20px;
  background: #06c46f;
  color: black;
  padding: 6px 6px;
  border-radius: 50px;
  z-index: 990;
  margin-top: 100px;
  position: fixed;
  transition: all .5s ease;
  
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ .sidebar-toggle #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ .sidebar-toggle #cancel{
  left: 195px;
}

#check:checked ~ section{
  margin-left: 250px;
  
}*/


/*header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: #06c46f;
}*/

body {
 /* background: linear-gradient(245.95deg, #0328ff 0%, #06c46f 28.53%, #57d8ff 75.25%);*/
 background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*.logo {
	z-index: 200000;
	transition: all .55s ease;
	  margin-left: 5px;
  font-size: 15px;
	font-height: 100px;
	font-width: 100px;
	height: 100px;
	width:100px;
  font-weight: 60;
  color: #0328ff;
  display: flex;
  align-items: center;
	padding: 5px 5px;
}

.navlist {
  display: flex;
  align-items: center;
  background: #06c46f;
}

.navlist a {
  background: transparent;
  color: black;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
  text-decoration: none;
  padding: 5px 5px;
}



.navlist a:hover {
  border-bottom: 5px solid #03c8ff;
}

 #dark-mode-toggle{
  background: white;
  color: black;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
border-radius: 50px;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
  text-decoration: none;
  padding: 5px 5px;
  border: none;
outline: none;
 }
  
#menu-icon {
  color: #0328ff;
  font-size: 35px;
  cursor: pointer;
  display: none;
}*/

.hero {
  height: 100vh;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  background-image: url(../Img/Stars.png);
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
}

.hero-text {
  padding: 3px;
	/*display: flex;
  flex-direction: column;
  align-items: center;*/
  text-align: center;
}

.hero-text h4 {
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin-bottom: 27px;
}

.hero-text p {
  color: white;
  font-size: 27px;
  line-height: 1.9;
  margin-bottom: 27px;
}

.hero-text h1 {
  font-size: 40px;
  line-height: 1;
  color: white;
  margin: 0 0 27px;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.hero-img img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain; /* Adjust to 'cover' if you want the image to fill the container */
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
  margin-top: 20px; /* Add some space above the buttons */
}

.hero-buttons a {
  display: inline-block;
  color: #0328ff;
  background: #06c46f;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all .55s ease;
  text-decoration: none;
}

.hero-buttons a:hover {
  background: transparent;
  border: 1px solid #06c46f;
  transform: translateX(8px);
}

.hero-buttons .ctaa {
  background: transparent;
  color: white;
  border: 1px solid #06c46f;
}

.hero-buttons .ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

/**/

.masages{
  height: auto;
  width: 100%;
	max-width: 2000px;
	margin: 0 auto;
  /*background-image: url(../Img/Stars.png);*/
  background-color: white;
  background-size: cover;
	background-position: center;
	z-index: 1;
  position: relative;
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 0px;
}

.title{
  padding-left: 20px;
  margin-top: -15px; /* Adjust the value to control how much the title overlaps */
  position: relative;
  z-index: 1;
  background: transparent; /* Ensure background is white so it cuts through the border */
  width: fit-content; /* Adjust as needed */
}


.title h1{
  font-size: 20px;
  color: black;
  margin: 0; /* Remove any default margin */
  padding: 0 10px; /* Adjust padding as needed */
  background: white; /* Ensure the heading's background is also white */
}

.dissmiss{
  padding-right: 20px;
  margin-top: -15px; /* Adjust the value to control how much the title overlaps */
  position: absolute;
  z-index: 1;
  background: transparent; /* Ensure background is white so it cuts through the border */
  width: fit-content; /* Adjust as needed */
  right: -27;
  top: 10;
  color: red;
  background: white;
}

.tip{
  border: 2px solid rgba(6,196,111,1);
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 98%;
  height: auto;
  position: relative;
  padding: 5px;
  right: 0;
  left: -2;
}

.content-masages{
  padding: 10px;
  margin: 10px;
}

.content-masages p{
  font-size: 20px;
  color: black;
}

.content-masages a{
  font-size: 20px;
  color: #0328ff;
}
/*parallel section*/

.parallel {
  height: auto;
  width: 100%;
	max-width: 2000px;
	margin: 0 auto;
  /*background-image: url(../Img/Stars.png);*/
  background-color: whitesmoke;
  background-size: cover;
	background-position: center;
	z-index: 1;
  position: relative;
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.front-parallel{
  border: 2px solid rgba(6,196,111,1);
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 98%;
  height: auto;
  position: relative;
  padding: 5px;
  right: 0;
  left: -2;
}

.parallel-top{
  width:100%;
	display: flex;
	flex-direction: row;
  justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.parallel-top h1{
	font-size: 50px;
	color: black;
	margin: 10px;
}

.parallel-top h2{
	font-size: 40px;
	color: black;
	margin: 10px;
}

.parallel-dev{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dev-icon img{
	width: 50px;
	height: auto;
}
.parallel-dev h4{
	font-size: 10px;
  font-weight: 400;
  color: black;
  margin-bottom: 7px;
}

.parallel-img img{
  width: 100%;
  height: auto;
}

.parallel-playbar {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  position: absolute;
  align-items: center;
  align-content: center;
  gap: 10px; /* Space between buttons */
  margin-top: 20px; /* Add some space above the buttons */
  margin-bottom: 10px;
  bottom: -40;
  background: whitesmoke;
  z-index: 20;
  margin-right: 5px;
  margin-left: 5px;
  padding: 15px;
  left: 100;
}

.onrbx{
  font-size: 20px;
  color: black;
  margin: 0; /* Remove any default margin */
  padding: 0 10px; /* Adjust padding as needed */
  background: whitesmoke; /* Ensure the heading's background is also white */
  position: absolute;
  top:-10;
}

.parallel-playbar a {
  display: inline-block;
  color: #0328ff;
  background: #06c46f;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 25px;
  font-weight: 500;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all .55s ease;
  text-decoration: none;
    margin-right: 5px;
  margin-left: 5px;
}

.parallel-playbar a:hover {
  background: transparent;
  border: 1px solid #06c46f;
  transform: translateX(8px);
}

.parallel-playbar .ctaa {
  background: transparent;
  color: black;
  border: 1px solid #06c46f;
}

#toggle-instalrbx{
  display:none;
}

.instalf{
  display: none;
  background: #06c46f;
  position: fixed;
  width: 97%;
  height: auto;
  z-index: 20;
  margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 550px;
	max-width: 2000px;
	margin-right: 1%;
	margin-left: 1%;
	border-radius: 10px;
}



.instal #instalrbxopen{
  display: block;
  font-size: 3650px;
  background: red;
  color: black;
  border-radius: 50px;
  z-index: 89800;
  transition: all .5s;
  opacity: 100;
  height: 100%;
  width: 100%;
  
}

.instalf #closeinstalrbx{
  display: block;
  right: 30px;
  top: 3px;
  font-size: 20px;
  background: red;
  color: black;
  padding: 6px 6px;
  border-radius: 50px;
  z-index: 990;
  margin-top: 550px;
  position: fixed;
  transition: all .5s ease;
  
}

#toggle-instalrbx:checked ~ .instalf{
  display: flex;
}

#toggle-instalrbx:checked ~ .instalf #closeinstslrbx{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ .instalf{
  width: 75%;
  left: 40;
  
}

.game-drop-down{
  position: absolute;
  width: 100px;
  height: auto;
  background: transparent;
  z-index: 60;
  white-space: nowrap;
  display: none;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left:-20;
  bottom: 90;
}

.parallel-drop-down{
  cursor: pointer;
}


.game-drop-down.game-drop-down:hover, .parallel-playbar .parallel-drop-down:hover + .game-drop-down {
  display: block;
}

.parallel-playbar .ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

.parallel-stats{
  width:100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.parallel-stats h1{
  color: black;
  font-size: 15px;
  margin: 0 5 5px;
}

.parallel-stats a{
  color: #0328ff;
  text-decoration: underline;
}

.parallel-stats-under{
  color: black ;
	font-size: 5px;
  margin-bottom: 4px;
}

.parallel-buttons-bar{
	 /*position: fixed;*/
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: space-between;
 padding: 5px 9%;
  background: #06c46f;
    border-radius: 5px;
    margin-bottom: 10px;
}

.parallel-buttons-bar > * {
  flex: 1; /* Ensures that children take up equal space */
  text-align: center; /* Centers text/content within each child */
   min-width: 100px; /* Adjust this value as needed */
}

/*
.buttons-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
}*/

.parallel-buttons-bar button{
  background: transparent;
  color: black;
  margin-left: 0px;
  font-size: 30;
  width: auto;
  height: auto;
  font-weight: 600;
/*	border-radius: 50px;*/
  border-bottom: 2px solid transparent;
/*  transition: all .55s ease*/
  text-decoration: none;
/*  padding: 5px 5px;*/
border: none;
outline: none;
}

.parallel-buttons-bar button:hover {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #0328ff;
}

.parallel-buttons-bar button.active {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #0328ff;
}

.tabs-parallel{
  display: none;
}

#descriptionpar {
  display: blocks;
}

#descriptionpar h4 {
  color: black;
  font-size: 30px;
}

#descriptionpar p {
  color: black;
  font-size: 27px;
  padding: 10px;
}

#descriptionpar .links{
  color: #0328ff;
  font-size:27px;
  text-decoration: underline;
}

.parallel-text {
  padding: 5px;
}

.parallel-text h4 {
  font-size: 15px;
  font-weight: 400;
  color: white;
  margin-bottom: 7px;
}

.parallel-text p {
	padding: 7px;
  color: white;
  font-size: 7px;
  line-height: 1.9;
  margin-bottom: 7px;
}

.parallel-text h1 {
  font-size: 20px;
  line-height: 1;
  color: white;
  margin: 0 0 7px;
}

.parallel-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallel-img img {
  width: 100%;
  height: auto;

  gap: 2rem;
  padding: 100px 2%; /* Adjusted padding */
  overflow: hidden; /* Prevent overflow */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.parallel-text a {
display: inline-block;
  /*flex-direction: column;
  gap: 10px;*/
  color: white;
  background: #06c46f;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all .55s ease;
  text-decoration: none;
  margin-right: 5px;
}

.parallel-text a:hover {
  background: transparent;
  border: 1px solid #06c46f;
  transform: translateX(8px);
}

.parallel-text a.ctaa {
  background: transparent;
  border: 1px solid #06c46f;
  margin-left: 20px;
}

.parallel-text a.ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

.parallel-text a.links {
	padding: 10px;
  color: blue;
  font-size: 10px;
  line-height: 1.9;
  margin-bottom: 10px;
	text-decoration: underline;
} 

/* groups*/

.groups{
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  background: white;
}

.groups-partners{
  background: transparent;
}

.groups-partners h1{
  color: black;
  font-size: 50px;
  
}
.groups-partners p{
  color: black;
  font-size: 30px;
}

@keyframes slide{
  from{
    transform: translateX(0);
  }
  
  to{
    transform: translateX(-100%);
  }
}

.partners-container{
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  width: 100%;
  position: relative;
  display: inline-block;
}
.partners-container:before,
.partners-container:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.partners-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.partners-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}

.partner-holder{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.partners-inf-scrolling{
  display: flex;
  animation: 35s slide infinite linear;
  width: 100%;
  
}

.partners-inf-scrolling:hover{
  animation-play-state: paused;
  
}

.partners-inf-scrolling a{
  background-color: #06c46f;
  height: 200px;
  width: 500px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
  
}

.partners-inf-scrolling a:hover{
  background-color: #08f78b;
  height: 200px;
  width: 500px;
  color: black;
  text-decoration: none;
  border-radius: 5px;

  
}

.partners-inf-scrolling img{
  height:auto;
  width:200px;
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
}

.partner-holder{
  display: flex;
  flex-direction: row;
}

.partner-info {
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  /*padding: 10px*/
}

.partner-info h1 {
  font-size: 25px;
  color: black;
}

.partner-info p{
  font-size: 20px;
  color: black;
  white-space: normal;
  width: 300px;
  overflow: hidden;
  max-height: 90px;
text-overflow: ellipsis;
}

.stats-group {
  display: flex;
  flex-direction: row;
}

.stats-group h1{
  font-size:20px;
  max-height: 10px;
  width: 300px;
  white-space: normal;
  margin: 0 2 2px;
  color: #0328ff;
}

/* games*/

.game-jams{
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  background: white;
}

.section {
  padding: 0.19%;
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(-10%);
  text-align: center;
  transition: all .5s;
}

hr{
  width: 100%;
  margin-bottom: 10px;
}


.icons {
	position: absolute;
	top: 50%;
	padding: 0 9%;
	transform: translateY(-50%);
}

.icons i {
	display: block;
	margin: 26px 0;
	font-size: 24px;
	color: #96c46f;
	transition: all .50s ease;
	text-decoration: none;
}

.icons i:hover{
	color: #0328ff;
	transform: translateY(-5%);
}

.scroll-down{
	position: absolute;
	bottom: 6%;
	right: 9%;
}

.scroll-down i{
	display: block;
	padding: 12px;
	font-size: 25px;
	color: white;
	background: #06c46f;
	border-radius: 30px;
	transition: all .50s ease;
}

.scroll-down i:hover{
	transform: translateY(-5%)
}

	@media (max-width: 1535px){
	/*	header{
			padding: 15px 3%;
			transition: .2s;
		}

		.icons{
			padding: 0 3%;
			transition: .2s;
		}

		.scroll-down{
			right: 3%;
			transition: .2s;
		}
		#menu-icon{
		display: none;
		}*/
	}

@media (max-width: 1460px){
	section{
		padding: 0 12%;
		transition: all .5s;
		
	}
/*	#menu-icon{
		display: none;
	}*/
}

@media (max-width: 1340px){
	.hero-img img{
		width: 100%;
		height: auto;
	}

	.hero-text h1{
		font-size: 20px;
		margin: 0 0 25;
	}

	.hero-text h4{
	  font-size: 15;
		margin-bottom: 25px;
	}
	
	.hero-text p{
	  font-size: 10px;
	  margin-bottom: 25px;
	}
/*	#menu-icon{
		display: none;
	}*/
	
	.parallel-stats h1{
  font-size: 10px;
  margin: 0 5 5px;
	}

}
@media (max-width: 1195px){
	section{
		padding: 0 3%;
		transition: all .5s;
	}

	.hero-text{
		padding-top: 115px;
		
	}

	.hero-img{
		text-align: center;
	}
	.hero-img img{
		width: 560px;
		height: auto;
	}

	.hero{
		height: 100%
	/*	gap: 1rem;*/
	/*	grid-template-columns: 1fr;*/
	}

	.icons {
		display: none;
	}

	.scroll-down{
		display: none;
	}

/*#menu-icon{
		display: none;
	}*/
	

	
}

@media (max-width: 700px){

	.hero{
		flex-direction: column;
	}
	
/*	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		background: #06c46f;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 20px;
		transition: all .55s ease;
	}

	.navlist a{
		display: block;
		margin: 30px 0;
		margin-left: 0;
		background: transparent;
	}

	.navlist-open{
		right: 0;
	}*/
	.hero-text h4 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 7px;
}

.hero-text p {
  font-size: 7px;
  line-height: 1.9;
  margin-bottom: 7px;
}

.hero-text h1 {
  font-size: 20px;
  line-height: 1;
  margin: 0 0 7px;
		}
		
		.parallel-playbar {
  margin-top: 0px; /* Add some space above the buttons */
  margin-bottom: 10px;
  bottom: -30;
  z-index: 20;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  left: 5;
}

.onrbx{
  font-size: 15px;
  margin: 0; /* Remove any default margin */
  padding: 0 10px; /* Adjust padding as needed */
  top:-10;
}




.instalf{
  display: none;
  background: #06c46f;
  position: fixed;
  width: 97%;
  height: auto;
  z-index: 20;
  margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 190px;
	max-width: 2000px;
	margin-right: 1%;
	margin-left: 1%;
	border-radius: 10px;
}

.instalf #closeinstalrbx{
  right: 30px;
  top: 3px;
  font-size: 20px;
  padding: 6px 6px;
  z-index: 990;
  margin-top: 200px;
}


#check:checked ~ .instalf{
  width: 50%;
  left: 40;
  
}
		
		.game-drop-down{
  width: 100px;
  height: auto;
  margin-top: 10px;
  margin-left: 5px;
  left:-20;
  bottom: 70;
}

			.parallel-stats h1{
  font-size: 7px;
  margin: 0 3 3px;
	
}

.parallel-stats-under {
  font-size: 2px;
}

.parallel-top{
  width:100%;
	margin-bottom: 5px;
}

.parallel-top h1{
	font-size: 17px;
	margin: 10px;
}

.parallel-top h2{
	font-size:12px;
	margin: 10px;
}


.dev-icon img{
	width: 40px;
	height: auto;
}
.parallel-dev h4{
	font-size: 15px;
  font-weight: 400;
  margin-bottom: 7px;
}


.parallel-playbar a {
  border: 1px solid transparent;
  padding: 6px 7px;
  line-height: 1.2;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .55s ease;
  text-decoration: none;
}

.parallel-buttons-bar{
	 /*position: fixed;*/
  height: 20px;
 padding: 5px 9%;
    border-radius: 5px;
    margin-bottom: 10px;
}



.parallel-buttons-bar button{
  margin-left: 0px;
  font-size: 10;
  font-weight: 600;
}

.parallel-buttons-bar button:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.parallel-buttons-bar button.active {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

#descriptionpar h4 {
  color: black;
  font-size: 15px;
}

#descriptionpar p {
  color: black;
  font-size: 7px;
  padding: 10px;
}

#descriptionpar .links{
  color: #0328ff;
  font-size:7px;
  text-decoration: underline;
  margin-left: 12px;
}

.groups-partners h1{
  font-size: 25px;
  
}
.groups-partners p{
  font-size: 15px;
}

.partners-inf-scrolling a {
  height: 100px;
  width: 300px;
  border-radius: 10px;


}

.partners-inf-scrolling a:hover {
  border-radius: 5px;
  height: 100px;
  width: 300px;

}

.partners-inf-scrolling img {
  height: auto;
  width: 100px;

}

.partner-info {
  height: auto;
  width: 200px;
}

.partner-info h1 {
  font-size: 15;
}

.partner-info p {
  font-size: 10;
  width: 200px;
  max-height: 47px;
}



.stats-group h1 {
  font-size: 10px;
  max-height: 10px;
  width: 200px;
  white-space: normal;
  margin: 0 2 2px;
  color: #0328ff;
}
.game-jams {
  padding: 10px 0;
  width: 100%;
}


}

@media (max-width: 680px){

	.hero{
		flex-direction: column;
	}
.hero-img img{
		width: 100%;
		height: auto;
}

/*#menu-icon{
		display: block;
		}
		

.navlist{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		background: #06c46f;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 20px;
		transition: all .55s ease;
	}

	.navlist a{
		display: block;
		margin: 30px 0;
		margin-left: 0;
		background: transparent;
	}

	.navlist-open{
		right: 0;
		}*/
		.hero-text h4 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 7px;
}

.hero-text p {
  font-size: 7px;
  line-height: 1.9;
  margin-bottom: 7px;
}

.hero-text h1 {
  font-size: 20px;
  line-height: 1;
  margin: 0 0 7px;
}

/*/.parallel-stats {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  text-align: center;
}

.parallel-stats > * {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center; 
}

.parallel-stats > :last-child {
  margin-left: 80px; 
  text-align: left;  
}*/

.parallel-stats h1 {
  font-size: 7px; /* Corrected the font-size syntax */
}

.parallel-stats-under {
  font-size: 5px;
}

.parallel-top{
  width:100%;
	margin-bottom: 5px;
}

.parallel-top h1{
	font-size: 17px;
	margin: 10px;
}

.parallel-top h2{
	font-size:12px;
	margin: 10px;
}


.dev-icon img{
	width: 35px;
	height: auto;
}
.parallel-dev h4{
	font-size: 7px;
  font-weight: 400;
  margin-bottom: 7px;
}

.groups-partners h1{
  font-size: 25px;
  
}
.groups-partners p{
  font-size: 15px;
}

.partners-inf-scrolling a{
  height: 100px;
  width: 300px;
  border-radius: 10px;

  
}

.partners-inf-scrolling a:hover{
  border-radius: 5px;
  height: 100px;
  width: 300px;
  
}

.partners-inf-scrolling img{
  height:auto ;
  width: 100px;
  
}

.partner-info {
  height: auto;
  width: 200px;
}

.partner-info h1 {
  font-size: 15;
}

.partner-info p{
  font-size: 10;
  width: 200px;
  max-height: 47px;
}



.stats-group h1{
  font-size:10px;
  max-height: 10px;
  width: 200px;
  white-space: normal;
  margin: 0 2 2px;
  color: #0328ff;
}



.partners-container:before,
.partners-container:after {
  width: 50px;
}

}
		
	/*	unviere dark mode properties*/
	
	
		  body.dark-mode {
  background: #1a1a1a;
}

/*body.dark-mode header{
  background: #024a2a;
}

body.dark-mode .navlist{
  background: #024a2a;
}

body.dark-mode .navlist a {
  color: white;
}

body.dark-mode #dark-mode-toggle{
  background: black;
  color: white;
}

.navlist a:hover {
  border-bottom: 2px solid #0328ff;
}*/
		
		body.dark-mode .hero-buttons a{
		  background: #024a2a;
		  color: white;
		  border-radius: 50px;
		  
		}
		
		body.dark-mode .hero-buttons a:hover {
  background: transparent;
  color: white;
  border: 1px solid #024a2a;
		}
		
		body.dark-mode .hero-buttons .ctaa {
  background: transparent;
  border: 1px solid #024a2a;
  
}

body.dark-mode .masages{
  
  background-color: #1a1a1a;
}




body.dark-mode .title h1{
  color: white;
  background: #1a1a1a; /* Ensure the heading's background is also white */
}

body.dark-mode .dissmiss{
  background: #1a1a1a;
}

body.dark-mode .tip{
  border: 1px solid rgba(2,74,42,1);
}


body.dark-mode .content-masages p{
  font-size: 20px;
  color: white;
}

body.dark-mode .content-masages a{
  font-size: 20px;
  color: #03c8ff;
}

body.dark-mode .parallel {
  background: #0d0d0d;
}

body.dark-mode .front-parallel{
  border: 2px solid rgba(2,74,42,1);
}

body.dark-mode .parallel-playbar {
  background: #0d0d0d;
}

body.dark-mode .onrbx{
  color: white;
  background: #0d0d0d;
}

body.dark-mode .instalf{
  background: #024a2a;
}

body.dark-mode .parallel-top h1{
	color: white;
}

body.dark-mode .parallel-top h2{
	color: white;
}

body.dark-mode .parallel-dev h4{
  color: white;
}

body.dark-mode .parallel-stats h1{
  color: white;
}

body.dark-mode .parallel-stats a{
  color: #03c8ff;
}

body.dark-mode .parallel-playbar a {
  color: white;
  background: #024a2a;
  border-radius: 50px;
}

body.dark-mode .parallel-playbar a:hover {
  background: transparent;
  color: white;
  border: 1px solid #024a2a;
}

body.dark-mode .parallel-playbar .ctaa {
  background: transparent;
  border: 1px solid #024a2a;
}

body.dark-mode .parallel-buttons-bar{
  background: #024a2a;
}


body.dark-mode .parallel-buttons-bar button{
  background: transparent;
  color: white;
}

body.dark-mode .parallel-buttons-bar button:hover {
border-bottom-color: #03c8ff;
}

body.dark-mode .parallel-buttons-bar button.active {
  border-bottom-color: #03c8ff;
}

body.dark-mode #descriptionpar h4 {
  color: white;
}

body.dark-mode #descriptionpar p {
  color: white;
}

body.dark-mode #descriptionpar .links{
  color: #03c8ff;
}

body.dark-mode .parallel-stats-under{
  color: white;
	}
	
	body.dark-mode .groups{
	  background: #1a1a1a;
	}
	
	body.dark-mode .groups-partners{
	  background: #1a1a1a;
	}
body.dark-mode .groups-partners h1{
  color: white;
  
}
body.dark-mode .groups-partners p{
  color: white;
}

body.dark-mode .partners-container{
  background: #1a1a1a;
}
	
body.dark-mode .partners-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), #1a1a1a);
}

body.dark-mode .partners-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), #1a1a1a);
}
	
body.dark-mode .partners-inf-scrolling a{
  background-color: #024a2a;
  color: black;
}

body.dark-mode .partners-inf-scrolling a:hover{
  background-color: #02311c;
  color: black;
  
}



body.dark-mode .partner-info h1 {
  color: white;
}

body.dark-mode .partner-info p{
  color: white;
}



body.dark-mode .stats-group h1{
  color: #03c8ff;
}

	/*	unviere light mode properties*/
	
	
		  body.light-mode {
  background: #ffffff;
}
		
		body.light-mode .hero-buttons a{
		  background: #06c46f;
		  color: #0328ff;
		  border-radius: 50px;
		}
		
		body.light-mode .hero-buttons a:hover {
  background: transparent;
  color: white;
  border: 1px solid #06c46f;
		}
		
		body.light-mode .hero-buttons .ctaa {
  background: transparent;
  border: 1px solid #06c46f;
  color: white;
}

body.light-mode .masages{
  
  background-color: #ffffff;
}




body.light-mode .title h1{
  color: black;
  background: #ffffff; /* Ensure the heading's background is also white */
}

body.light-mode .dissmiss{
  background: #ffffff;
}

body.light-mode .tip{
  border: 1px solid rgba(6,196,111,1);
}


body.light-mode .content-masages p{
  font-size: 20px;
  color: black;
}

body.light-mode .content-masages a{
  font-size: 20px;
  color: #0328ff;
}

body.light-mode .parallel {
  background: whitesmoke;
}
body.light-mode .front-parallel{
  border: 2px solid rgba(6,196,111,1);
}

body.light-mode .parallel-playbar {
  background: whitesmoke;
}

body.light-mode .onrbx{
  color: black;
  background: whitesmoke;
}

body.light-mode .instalf{
  background: #06c46f;
}

body.light-mode .parallel-top h1{
	color: black;
}

body.light-mode .parallel-top h2{
	color: black;
}

body.light-mode .parallel-dev h4{
  color: black;
}

body.light-mode .parallel-stats h1{
  color: black;
}

body.light-mode .parallel-stats a{
  color: #0328ff;
}

body.light-mode .parallel-playbar a {
  color: black;
  background: #06c46f;
}

body.light-mode .parallel-playbar a:hover {
  background: transparent;
  color: black;
  border: 1px solid #06c46f;
  border-radius: 50px;
}

body.light-mode .parallel-playbar .ctaa {
  background: transparent;
  border: 1px solid #06c46f;
  color: black;
}

body.light-mode .parallel-buttons-bar{
  background: #06c46f;
}


body.light-mode .parallel-buttons-bar button{
  background: transparent;
  color: black;
}

body.light-mode .parallel-buttons-bar button:hover {
  border-bottom-color: #0328ff;
}

body.light-mode .parallel-buttons-bar button.active {
  border-bottom-color: #0328ff;
}

body.light-mode #descriptionpar h4 {
  color: black;
}

body.light-mode #descriptionpar p {
  color: black;
}

body.light-mode #descriptionpar .links{
  color: #0328ff;
}

body.light-mode .parallel-stats-under{
  color: black;
	}
	
	body.light-mode .groups{
	  background: white;
	}
	
body.light-mode .groups-partners h1{
  color: black;
  
}
body.light-mode .groups-partners p{
  color: black;
}
	
body.light-mode .partners-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), white);
}

body.light-mode .partners-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}
	
body.light-mode .partners-inf-scrolling a{
  background-color: #06c46f;
  color: black;
}

body.light-mode .partners-inf-scrolling a:hover{
  background-color: #08f78b;
  color: black;
  
}



body.light-mode .partner-info h1 {
  color: black;
}

body.light-mode .partner-info p{
  color: black;
}



body.light-mode .stats-group h1{
  color: #0328ff;
}

/* modern light*/

body.modern-light {
  background: white;
}


		
		body.modern-light .hero-buttons a{
		  background: whitesmoke;
		  color: #0328ff;
		  border-radius: 10px;
		  }
		  
		  body.modern-light .hero-buttons a:hover {
  background: #06c46f;
  color: black;
  border: 1px solid transparent;
		}
		
		body.modern-light .hero-buttons .ctaa {
  background: #06c46f;
  border: 1px solid transparent;
  color: black;
}

body.modern-light .masages{
  
  background-color: #ffffff;
}




body.modern-light .title h1{
  color: black;
  background: #ffffff; /* Ensure the heading's background is also white */
}

body.modern-light .dissmiss{
  background: #ffffff;
}

body.modern-light .tip{
  border: 1px solid rgba(6,196,111,1);
}


body.modern-light .content-masages p{
  font-size: 20px;
  color: black;
}

body.modern-light .content-masages a{
  font-size: 20px;
  color: #0328ff;
}

body.modern-light .parallel {
  background: whitesmoke;
}

body.modern-light .front-parallel{
  border: 2px solid rgba(6,196,111,1);
}

body.modern-light .parallel-playbar {
  background: whitesmoke;
}

body.modern-light .onrbx{
  color: black;
  background: whitesmoke;
}

body.modern-light .instalf{
  background: #06c46f;
}
body.modern-light .parallel-top h1{
	color: black;
}

body.modern-light .parallel-top h2{
	color: black;
}

body.modern-light .parallel-dev h4{
  color: black;
}

body.modern-light .parallel-stats h1{
  color: black;
}

body.modern-light .parallel-stats a{
  color: #0328ff;
}

body.modern-light .parallel-playbar a {
  background: #06c46f;
  color: black;
  border-radius: 7px;
}

body.modern-light .parallel-playbar a:hover {
  background: black;
  color: white;
  border: 1px solid transparent;
}

body.modern-light .parallel-playbar .ctaa {
  background: black;
  border: 1px solid transparent;
  color: white;
}

body.modern-light .parallel-buttons-bar{
  background: lightgray;
}


body.modern-light .parallel-buttons-bar button{
  background: transparent;
  color: black;
}

body.modern-light .parallel-buttons-bar button:hover {
  border-bottom-color: #0328ff;
}

body.modern-light .parallel-buttons-bar button.active {
  border-bottom-color: #0328ff;
}

body.modern-light #descriptionpar h4 {
  color: black;
}

body.modern-light #descriptionpar p {
  color: black;
}

body.modern-light #descriptionpar .links{
  color: #0328ff;
}

body.modern-light .parallel-stats-under{
  color: black;
	}
	
	body.modern-light .groups{
	  background: white;
	}
	
body.modern-light .groups-partners h1{
  color: black;
  
}
body.modern-light .groups-partners p{
  color: black;
}
	
body.modern-light .partners-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), white);
}

body.modern-light .partners-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}
	
body.modern-light .partners-inf-scrolling a{
  background-color: lightgray;
  color: black;
}

body.modern-light .partners-inf-scrolling a:hover{
  background-color: gray;
  color: black;
  
}



body.modern-light .partner-info h1 {
  color: black;
}

body.modern-light .partner-info p{
  color: black;
}



body.modern-light .stats-group h1{
  color: #0328ff;
}